.userInfo {
  padding-top: 30px;
  text-align: center;
}
.userInfoTop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  img {
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 20px;
    margin-right: 10px;
    object-fit: cover;
  }
  span {
    font-size: 20px;
    font-weight: 500;
  }
}
.userInfoProfit {
  margin-bottom: 40px;
  h4 {
    font-weight: 600;
    font-size: 23px;
  }
}
.userInfoProfitTotal {
  width: 160px;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
  button {
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    opacity: 0.6;
    &:active {
      background: rgba(39, 41, 46, 0.4);
      img {
        opacity: 0.7;
      }
    }
    &:hover {
      opacity: 1;
    }
    img {
      display: inline-block;
      width: 17px;
      height: 17px;
      transition: all 0.2s ease;
    }
  }
  h4 {
    font-size: 38px;
    margin-bottom: 5px;
  }
}
.userInfoSpend {
  width: 200px;
  margin: 0 auto;
  h5 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
  }
  span {
    font-weight: 500;
    font-size: 37px;
  }
}
