.addModal {
  position: fixed;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: all 0.5s ease;
  width: 300px;
  min-height: 300px;
  border-radius: 13px;
  z-index: 500;
  background: #202226;
  padding: 20px;
  color: #fff;
  &.show {
    bottom: 50%;
  }
}
.addModalWrapper {
  text-align: center;
}
.addModalPalette {
  button {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 3px solid #35383e;
    border-radius: 10px;
    background: transparent;
    transition: all 0.2s ease;

    &:hover {
      background: #35383e;
    }
    &:active {
      background: #25272b;
      border-color: #25272b;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
}
.addModalInput {
  input {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background: #35383e;
    color: #fff;
    border: 2px solid transparent;
    padding: 5px 7px;
    border-radius: 5px;
    outline: none;
    transition: all 0.2s ease;

    &::placeholder {
      font-family: 'Poppins', sans-serif;
      color: #fff;
      font-size: 16px;
    }
    &:focus {
      border-color: #429976;
    }
  }
}
.addModalBottom {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    width: 40px;
    height: 40px;
    background: transparent;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.2s ease;

    &:nth-child(1) {
      border-color: rgba($color: #429976, $alpha: 0.6);
      &:hover {
        background: rgba($color: #429976, $alpha: 0.2);
      }
      &:active {
        img {
          transform: translateY(-7px);
        }
      }
    }
    &:nth-child(2) {
      border-color: rgba($color: #a10517, $alpha: 0.6);
      &:hover {
        background: rgba($color: #a10517, $alpha: 0.2);
      }
      &:active {
        img {
          transform: translateY(-7px) rotate(-135deg);
        }
      }
      img {
        transform: rotate(-135deg);
      }
    }
    img {
      display: inline-block;
      width: 16px;
      height: 16px;
      transition: all 0.2s ease;
    }
  }
}
.blockOut {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.7);
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}
