.subsWrapper {
  width: 100%;
  padding-top: 40px;
  height: 80%;
  overflow: auto;
  padding-right: 20px;
  @media (max-width: 992px) {
    padding-right: 0;
  }
}
.subsItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease;
  padding: 20px 30px;
  border-radius: 10px;
  &:hover {
    background: #2f3137;
    .subsItemActions {
      opacity: 1;
      visibility: visible;
    }
  }
  @media (max-width: 578px) {
    padding: 10px 15px;
  }
  .subsItemInfo {
    display: inline-flex;
    width: 100%;
    align-items: center;
    font-weight: 500;
    font-size: 22px;
    flex: 1;
    &:nth-child(2) {
      position: relative;
      right: 50%;
      left: 14%;
    }
    &:nth-child(3) {
      padding-right: 100px;
      justify-content: flex-end;
    }
  }
}
.subsLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 7px;
  background: rgba(66, 153, 118, 0.3);
  font-size: 32px !important;
  margin-right: 20px;
  color: #429976;
}
.subsItemActions {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  button {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    opacity: 0.6;
    &:active {
      background: rgba(39, 41, 46, 0.4);
      img {
        opacity: 0.7;
      }
    }
    &:first-child {
      margin-right: 10px;
    }
    &:hover {
      opacity: 1;
    }
    img {
      display: inline-block;
      width: 17px;
      height: 17px;
      transition: all 0.2s ease;
    }
  }
  @media (max-width: 578px) {
    right: 15px;
    button {
      &:first-child {
        margin-right: 0;
      }
    }
  }
}
