.subsCategory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 140px;
  position: relative;
  span {
    text-align: center;
    line-height: 1.3;
    font-size: 18px;
    &:nth-child(2) {
      position: relative;
      right: 50%;
      left: 8%;
    }
  }
  @media (max-width: 992px) {
    padding-right: 60px;
  }
}
